@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container1 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container1 p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container1 p span.cursor1 {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container1 p span.cursor1.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.container1 .s-para{
  font-size: 1.3rem;
  letter-spacing: normal;
  text-align: center;
  font-weight: 400;
  margin: 40px 30px 0px 30px;
  /* background-color: rgb(237 245 255 / var(1)); */
  background-color: #f4e7e780;
}
.twobuttons{
  display: flex;

}
.twobuttons a{
  cursor: pointer;
  margin: 3rem;
}


.container2, .container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 10rem; */
    /* border: 2px solid red; */
    margin-bottom: 4rem;
}
#filecontainer{
  text-align: center;
}
textarea{
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
}
.container3{
    margin: 3rem;
    font-size: 4rem;
    font-weight: normal;
    color: #dd7732;
}
.container4{
  border: 2px dashed rgb(130,15,15);
  border-radius: 1rem;
  margin: 3rem;
  padding: 1rem;
}
.container4:hover{
  cursor: pointer;
  background: #ede7e7;
}
.container4 h3{
  color: #dd7732;
}

input[type="file"] {
  display: none;

}
.custom-file-upload {
  margin: 3rem;
  width: 20rem;
  height: 3rem;
  border-radius: 12px;

  border: 2px solid #070707;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.custom-file-upload:hover{
  background-color: black;
  color: white;
}
.container5{
  border: 4px solid rgb(114, 107, 9);
  border-radius: 12px;
  padding: 2rem;
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container5 h3{
  font-weight: 400;

}
.container5 h4{
  color: #dd7732;

}
.container5 h2,h3{
  text-align: center;
  margin: 1rem;
}
.container5 h2{
  font-weight: 700;
  text-align: center;
}
#resultbox{
margin-top: 6rem;
margin-bottom: 5rem;
  display: none;
}
.spanclass{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 34px;
color: rgb(1, 35, 23);
}
.subres{
  display: flex;
  justify-content: space-between;
}
.attendeeres{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
color: rgb(1, 35, 23);
}

.btncontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.drag-area{
/* background: #0fb8ac; */
/* border: 2px dashed #d81818; */
height: 500px;
width: 700px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.drag-area .icon{
font-size: 100px;
color: #fff;
}
.drag-area header{
font-size: 30px;
font-weight: 500;
color: #160101;
}
.drag-area span{
font-size: 25px;
font-weight: 500;
color: #641616;
margin: 10px 0 15px 0;
}
.drag-area button{
padding: 10px 25px;
font-size: 20px;
font-weight: 500;
border: none;
outline: none;
background: #fff;
color: #0fb8ac;
border-radius: 5px;
cursor: pointer;
}
.drag-area img{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 5px;
}