@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container1 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container1 p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container1 p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container1 p span.cursor1 {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container1 p span.cursor1.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.container1 .s-para{
  font-size: 1.3rem;
  letter-spacing: normal;
  text-align: center;
  font-weight: 300;
  margin: 40px 30px 0px 30px;
  /* background-color: rgb(237 245 255 / var(1)); */
  background-color: #f4e7e780;
}
.twobuttons{
  display: flex;

}
.twobuttons a{
  cursor: pointer;
  margin: 3rem;
}


.container2, .container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 10rem; */
    /* border: 2px solid red; */
    margin-bottom: 4rem;
}
#filecontainer{
  text-align: center;
}
textarea{
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
}
.container3{
    margin: 3rem;
    font-size: 4rem;
    font-weight: normal;
    color: #dd7732;
}
.container4{
    margin: 3rem;
}
.container4 h3{
  color: #dd7732;
}
#textarea, #filecontainer{
  display: none;
}
input[type="file"] {
  display: none;

}
.custom-file-upload {
  margin: 3rem;
  width: 20rem;
  height: 3rem;
  border-radius: 12px;

  border: 2px solid #070707;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.custom-file-upload:hover{
  background-color: black;
  color: white;
}


/* *********Upload file****************** */
.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.drag-drop {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(233, 233, 233);
  height: 150px;
}

.drag-drop p {
  font-size: 16px;
  margin-bottom: 10px;
}

.drag-drop input[type="file"] {
  display: none;
}

.drag-drop.highlight {
  background-color: #f0f0f0;
}


/* CSS */
.button-65 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #03a4ed;
  border-radius: 23px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  display: inline-block;
  /* font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif; */
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 10px 22px;
    width: 155px;
  }
}