@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container1 {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.container1 p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container1 p span.typed-text {
  font-weight: 600;
  font-weight: normal;
  color: #dd7732;
}
.container1 p span.cursor1 {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container1 p span.cursor1.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.container1 .s-para{
  font-size: 1.3rem;
  letter-spacing: normal;
  /* text-align: center; */
  font-weight: 800;
  margin: 40px 30px 0px 30px;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: rgb(237 245 255 / var(1)); */
  text-align: justify;
  /* background-color: #f4e7e780; */
}
.twobuttons{
  display: flex;

}
.twobuttons a{
  cursor: pointer;
  margin: 3rem;
}


.container2, .container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 10rem; */
    /* border: 2px solid red; */
    margin-bottom: 4rem;
}
#filecontainer{
  text-align: center;
}
textarea{
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
}
.container3{
    margin: 3rem;
    font-size: 4rem;
    font-weight: normal;
    color: #dd7732;
}
.container4{
    margin: 3rem;
}
.container4 h3{
  color: #dd7732;
}
#textarea, #filecontainer{
  display: none;
}
input[type="file"] {
  display: none;

}
.custom-file-upload {
  margin: 3rem;
  width: 20rem;
  height: 3rem;
  border-radius: 12px;

  border: 2px solid #070707;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.custom-file-upload:hover{
  background-color: black;
  color: white;
}


/* *********Upload file****************** */
.file-upload {
  position: relative;
  display: inline-block;
}

.file-upload input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-upload label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.drag-drop {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(233, 233, 233);
  height: 150px;
}

.drag-drop p {
  font-size: 16px;
  margin-bottom: 10px;
}

.drag-drop input[type="file"] {
  display: none;
}

.drag-drop.highlight {
  background-color: #f0f0f0;
}

.main-blue-button-hover{
  display: flex;
  justify-content: center;
  align-items: center;
}


#my-btn{
  border-radius: 12px;
}