
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <title>Mastek Stm 24</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<link rel="shortcut icon" href="{{ url_for('static', filename='./assets/images/logo2.png') }}" type="image/x-icon">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-onix-digital.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/summarize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/alert.css') }}">
  
    
    </head>
    <body>
                <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
            <div class="row">
                <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ url_for('home')}}" class="logo">
                    <img src="{{ url_for('static', filename='assets/images/logo5.jpeg') }}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                    <li class="scroll-to-section"><a href="{{ url_for('home')}}" class="active">Home</a></li>
                    <li class="scroll-to-section"><a href="#services">Services</a></li>
                    <li class="scroll-to-section"><a href="#about">About</a></li>
                    <li class="scroll-to-section"><a href="#portfolio">Team</a></li>
                    <!-- <li class="scroll-to-section"><a href="#video">Videos</a></li>  -->
                    <li class="scroll-to-section"><a href="#contact">Contact Us</a></li> 
                        
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
                </div>
            </div>
            </div>
        </header>
        <div class="alert-box hide hidden">
            Yahoo!! File Uploaded successfully
            Please wait for a result
            <span class="close-alert">&times;</span>
        </div>

        <!-- ***** Header Area End ***** -->
        <div class="container">
        <div class="container1">
            
            <p>Convert your <span class="typed-text"></span><span class="cursor1">&nbsp;</span></p>
            <p style="font-size: 2.2rem;">in a click</p>
        </div>

        <div class="container1" style="margin-top: 10px; margin-bottom: 20px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <p class="s-para">Convert your Audio File (Recording of meet) into Text using our Audio To Text Model</p>
            <div class="twobuttons">
                <!-- <div style="border-radius: 0;" class="main-blue-button-hover">
                    <a  onclick="showtext()">Paste your text</a>
                  </div> -->
                  <!-- <div class="main-blue-button-hover">
                    <a  onclick="showfile()">Upload a file</a>
                  </div> -->
                <div class="container4" id="filecontainer1">
                    <h2>
                        Upload the file 
                    </h2>
                    <h3>
                        in .wav
                    </h3>
                    <form action="{{ url_for('voice_to_text_result')}}" method="POST" enctype = "multipart/form-data">
                        <div class="file-upload">
                          <input type="file" name="fileUpload" id="audiofileUpload" required>
                          <label for="audiofileUpload" class="custom-file-upload"><i class="fa fa-cloud-upload"></i> Choose a file</label>
                          <p id="selectedfile" style="font-size: 16px;"></p>
                        </div>                       
                    <div class="main-blue-button-hover">
                        <input class="button-65" id="my-btn" type="submit" onclick="uploadFile()" value="Generate">
                         
                    </div>

                    </form>
                    
 
                </div>
            </div>
       
        
        </div>
        </div>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>

        <script>
        // Acc
            $(document).on("click", ".naccs .menu div", function() {
            var numberIndex = $(this).index();

            if (!$(this).is("active")) {
                $(".naccs .menu div").removeClass("active");
                $(".naccs ul li").removeClass("active");

                $(this).addClass("active");
                $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

                var listItemHeight = $(".naccs ul")
                    .find("li:eq(" + numberIndex + ")")
                    .innerHeight();
                $(".naccs ul").height(listItemHeight + "px");
                }
            });

            // JS for [SUmmarize your .txt/.vtt...]
            const typedTextSpan = document.querySelector(".typed-text");
            const cursorSpan = document.querySelector(".cursor1");

            const textArray = [".mp3 file", ".wav file"];
            const typingDelay = 150;
            const erasingDelay = 100;
            const newTextDelay = 1000; // Delay between current and next text
            let textArrayIndex = 0;
            let charIndex = 0;

            function type() {
            if (charIndex < textArray[textArrayIndex].length) {
                if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
                charIndex++;
                setTimeout(type, typingDelay);
            } 
            else {
                cursorSpan.classList.remove("typing");
                setTimeout(erase, newTextDelay);
            }
            }

            function erase() {
                if (charIndex > 0) {
                if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
                charIndex--;
                setTimeout(erase, erasingDelay);
            } 
            else {
                cursorSpan.classList.remove("typing");
                textArrayIndex++;
                if(textArrayIndex>=textArray.length) textArrayIndex=0;
                setTimeout(type, typingDelay + 1100);
            }
            }

            document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
            if(textArray.length) setTimeout(type, newTextDelay + 250);
            });

                // ********************Alert Box animation*****************
function uploadFile() {

    var input = document.getElementById('audiofileUpload');
    var file = input.files[0];
    
   const myBtn=document.getElementById("my-btn");
   const alertBox=document.querySelector(".alert-box");
   const closeBtn=document.querySelector(".close-alert")     
   let timer;
  
  // Check if a file has been selected
  if (!file) {
    alert('Please select a file to upload ');
    return;
  }else{
        showAlertBox();

   closeBtn.addEventListener("click",function () {
        hideAlertBox();
        clearTimeout(timer);
   })

   function showAlertBox(){
      alertBox.classList.remove("hide");
      alertBox.classList.add("show");
      // hide animation onload 
      if(alertBox.classList.contains("hidden")){
          alertBox.classList.remove("hidden");
      }
      timer=setTimeout(function(){
          hideAlertBox();
      },6000)
   }
    
   function hideAlertBox(){
     alertBox.classList.remove("show");
      alertBox.classList.add("hide");
   }
}
}
        </script>
    </body>
</html>
<script>
    var b = document.getElementById("filecontainer");
    var a = document.getElementById("textarea");
    var x = document.getElementById("textarea_btn");

    function showfile()
    {
        b.style.display= "block";
        a.style.display="none";
        x.style.display="none";
    }
    function showtext()
    {
        a.style.display= "block"
        b.style.display="none"
        x.style.display="block";

    }

     // ****Alert if file is uploaded or not**************
//      function uploadFile() {
//   var input = document.getElementById('audiofileUpload');
//   var file = input.files[0];
  
//   // Check if a file has been selected
//   if (!file) {
//     alert('Please select a file to upload');
//     return;
//   }
  
//   // Upload the file (this is where you would make an AJAX request to your server)
//   // ...
  
//   // Display a confirmation message
//   alert('File uploaded successfully!');
// }
</script>

<script>

    // ****************************
    // To display filE nAME
    const fileInput = document.getElementById('audiofileUpload');
            const fileName = document.getElementById('selectedfile');

            fileInput.addEventListener('change', () => {
                fileName.textContent = fileInput.files[0].name;
            });
    // *************

    const dropzone = document.querySelector('.drag-drop');
    const droppedFiles = document.getElementById('droppedFiles');
  
    // Prevent default drag behaviors
    ['dragover', 'dragenter', 'dragleave', 'drop'].forEach(eventName => {
      dropzone.addEventListener(eventName, (e) => {
        e.preventDefault();
        e.stopPropagation();
      }, false);
    });
  
    // Highlight drop zone when item is dragged over
    ['dragover', 'dragenter'].forEach(eventName => {
      dropzone.addEventListener(eventName, () => {
        dropzone.classList.add('highlight');
      }, false);
    });
  
    // Remove highlight when item is dragged away
    ['dragleave', 'drop'].forEach(eventName => {
      dropzone.addEventListener(eventName, () => {
        dropzone.classList.remove('highlight');
      }, false);
    });
  
  </script>