
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <title>SummAIrizer</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

<link rel="shortcut icon" href="{{ url_for('static', filename='./assets/images/logo2.png') }}" type="image/x-icon">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-onix-digital.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/summarize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/alert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/attendees.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/progress.css') }}">


  
    
    </head>
    <body>
        <div id="progress">
            <span id="progress-value">&#x1F815;</span>
          </div>
                <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" id="header" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
            <div class="row">
                <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ url_for('home')}}" class="logo">
                    <img src="{{ url_for('static', filename='assets/images/logo6.png') }}">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                  
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
                </div>
            </div>
            </div>
        </header>
        <div class="alert-box hide hidden">
            Yahoo!! File Uploaded successfully
            Please wait for a result
            <span class="close-alert">&times;</span>
        </div>
        <!-- ***** Header Area End ***** -->
        <div class="container">
        <div class="container1">
            <p>Summarize any <span class="typed-text"></span><span class="cursor1">&nbsp;</span></p>
            <p style="font-size: 2.2rem;">in a click</p>
        </div>

        <div class="container1" style="margin-top: 10px; margin-bottom: 20px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <p class="s-para">Summarize any audio or video file (Recording of meet) into Text using summAIrizer</p>
            <div class="twobuttons">
                <div style="border-radius: 0;" class="main-blue-button-hover">
                    <a  onclick="showtext()">Upload video file (mp4)</a>
                  </div>
                  <div class="main-blue-button-hover">
                    <a  onclick="showfile()">Upload audio file (wav)</a>
                  </div>
            </div>
       
            <div class="container4" id="textarea">
                <h2 style="text-align: center;"> 
                    Upload the video file 
                </h2>
                <h3>
                    in .mp4 format
                </h3>
                <form action="{{ url_for('voice_to_text_result')}}" method="POST" enctype = "multipart/form-data">
                    <div class="file-upload" style="display: flex; justify-content: center;
                    align-items: center;">
                      <input type="file" name="fileUpload" id="fileUpload" required accept=".mp4" onchange="validateFile(this)">
                      <label for="fileUpload" class="custom-file-upload"><i class="fa fa-cloud-upload"></i> Choose a file</label ><br>
                      <p id="selectedfile" style="font-size: 16px;"></p>
                    </div>                       
                <div class="main-blue-button-hover">
                    <input class="button-65" type="submit" value="Convert to text" onclick="uploadFile()" style="border-radius: 0;">
                    
                </div>
            </form>
            </div>
       
        <div class="container4" id="filecontainer">
            <h2 style="text-align: center;">
                Upload the audio file 
            </h2>
            <h3>
                in .wav format
            </h3>
            <form action="{{ url_for('audio_to_text')}}" method="POST" enctype = "multipart/form-data">
                <div class="file-upload">
                  <input type="file" name="fileUpload" id="fileUpload" required accept=".wav" onchange="validateFile_aud_file(this)">
                  <label for="fileUpload" class="custom-file-upload"><i class="fa fa-cloud-upload"></i> Choose a file</label>
                  <p id="selectedfile" style="font-size: 16px;"></p>
                </div>                       
            <div class="main-blue-button-hover">
                <input class="button-65" type="submit" value="Summarize" onclick="uploadFile()" style="border-radius: 0;">
                
            </div>
        </form>
        </div>
        </div>
        <div id="div-results" style="color: red;">
            <!-- <p class="Detail-f">Number of sentences in original text : {{lines_original}}</p> -->
        	<!-- <p class="Detail-f">Number of sentences in summarized version : {{lines_summary}}</p> -->
			<!-- <p class="Detail-f">File name: {{file_name}}</p> -->
    
        	<!-- <h3 style="color: black; padding-left: 60px;">Summary:</h3> -->
        	<p class="result-s">{{ text_summary }}</p>
    	</div>
        </div>

        <!-- Scripts -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/owl-carousel.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/animation.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/imagesloaded.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/scroll.js') }}"></script>


        <script>

            // *************Validation for a input file***********
            
            function validateFile(input) {
            if (!input.files[0] || input.files[0].type !== "video/mp4") {
                alert("Please select a valid MP4 file.");
                input.value = ""; // Clear the input field
            }
            }

            function validateFile_aud_file(aud_input) {
            if (!aud_input.files[0] || aud_input.files[0].type !== "audio/wav") {
                alert("Please select a .wav file.");
                aud_input.value = ""; // Clear the input field
            }
            }

            

        // Acc
            $(document).on("click", ".naccs .menu div", function() {
            var numberIndex = $(this).index();

            if (!$(this).is("active")) {
                $(".naccs .menu div").removeClass("active");
                $(".naccs ul li").removeClass("active");

                $(this).addClass("active");
                $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

                var listItemHeight = $(".naccs ul")
                    .find("li:eq(" + numberIndex + ")")
                    .innerHeight();
                $(".naccs ul").height(listItemHeight + "px");
                }
            });

            // JS for [SUmmarize your .txt/.vtt...]
            const typedTextSpan = document.querySelector(".typed-text");
            const cursorSpan = document.querySelector(".cursor1");

            const textArray = [".mp4 file", ".wav file",];
            const typingDelay = 150;
            const erasingDelay = 100;
            const newTextDelay = 1000; // Delay between current and next text
            let textArrayIndex = 0;
            let charIndex = 0;

            function type() {
            if (charIndex < textArray[textArrayIndex].length) {
                if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
                charIndex++;
                setTimeout(type, typingDelay);
            } 
            else {
                cursorSpan.classList.remove("typing");
                setTimeout(erase, newTextDelay);
            }
            }

            function erase() {
                if (charIndex > 0) {
                if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
                typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
                charIndex--;
                setTimeout(erase, erasingDelay);
            } 
            else {
                cursorSpan.classList.remove("typing");
                textArrayIndex++;
                if(textArrayIndex>=textArray.length) textArrayIndex=0;
                setTimeout(type, typingDelay + 1100);
            }
            }

            document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
            if(textArray.length) setTimeout(type, newTextDelay + 250);
            });

            // ********************Alert Box animation*****************
function uploadFile() {

var input = document.getElementById('fileUpload');
var file = input.files[0];

const myBtn=document.getElementById("my-btn");
const alertBox=document.querySelector(".alert-box");
const closeBtn=document.querySelector(".close-alert")     
let timer;

// Check if a file has been selected
if (!file) {
alert('Please select a file to upload ');
return;
}else{
    showAlertBox();

closeBtn.addEventListener("click",function () {
    hideAlertBox();
    clearTimeout(timer);
})

function showAlertBox(){
  alertBox.classList.remove("hide");
  alertBox.classList.add("show");
  // hide animation onload 
  if(alertBox.classList.contains("hidden")){
      alertBox.classList.remove("hidden");
  }
  timer=setTimeout(function(){
      hideAlertBox();
  },6000)
}

function hideAlertBox(){
 alertBox.classList.remove("show");
  alertBox.classList.add("hide");
}
}
}
        </script>
    </body>
</html>
<script>
    var b = document.getElementById("filecontainer");
    var a = document.getElementById("textarea");
    var x = document.getElementById("textarea_btn");
a.style.display="block";
// b.style.display="block";


    function showfile()
    {
        b.style.display= "block";
        a.style.display="none";
        x.style.display="none";
    }
    function showtext()
    {
        a.style.display= "block"
        b.style.display="none"
        x.style.display="block";

    }



</script>

<script>

    // ****************************
    // To display filE nAME
    const fileInput = document.getElementById('fileUpload');
            const fileName = document.getElementById('selectedfile');

            fileInput.addEventListener('change', () => {
                fileName.textContent = fileInput.files[0].name;
            });
    // *************

    const dropzone = document.querySelector('.drag-drop');
    const droppedFiles = document.getElementById('droppedFiles');
  
    // Prevent default drag behaviors
    ['dragover', 'dragenter', 'dragleave', 'drop'].forEach(eventName => {
      dropzone.addEventListener(eventName, (e) => {
        e.preventDefault();
        e.stopPropagation();
      }, false);
    });
  
    // Highlight drop zone when item is dragged over
    ['dragover', 'dragenter'].forEach(eventName => {
      dropzone.addEventListener(eventName, () => {
        dropzone.classList.add('highlight');
      }, false);
    });
  
    // Remove highlight when item is dragged away
    ['dragleave', 'drop'].forEach(eventName => {
      dropzone.addEventListener(eventName, () => {
        dropzone.classList.remove('highlight');
      }, false);
    });
  
  </script>